  /*-----------------------------------------------------------------------------------\
   |--------------------------------------Mobile----------------------------------------|
   \-----------------------------------------------------------------------------------*/
.dropbtn1m {
  background: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 0px 0px 5px 5px;
}
.dropbtn2m {
  background: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 0px 0px 5px 5px;
}
.dropbtn3m {
  background: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 0px 0px 5px 5px;
}
.dropbtn4m {
  background: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 0px 0px 5px 5px;
}

.dropdownm {
  position: relative;
  display: inline-block;
}

.dropdown-contentm {
  display: none;
  position: absolute; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background: transparent;
  color: white;
}

.dropdown-contentm a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: transparent;
}

.dropdown-contentm a:hover {background-color: lightblue;}

.dropdownm:hover .dropdown-contentm {
	display: block; 
	background-color: rgba(0,0,0,0.4);
	}

.dropdownm:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,62,97,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 5px 5px 5px 5px;
}
.dropbtn1m:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,62,97,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 5px 5px 5px 5px;
}
.dropbtn2m:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,62,97,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 5px 5px 5px 5px;
}
.dropbtn3m:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,62,97,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 5px 5px 5px 5px;
}
.dropbtn4m:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,62,97,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 5px 5px 5px 5px;

}
#t1{
	float: center;
	width: 100%;
	padding-left: 40px;
}

#par1m {
	width: 100%;
	text-align: center;
	color: #c4d4e0;
	font-size: 30px;
	height: 2em;
	text-shadow: 3px 3px 3px lightblue;
	margin: -8px 0px -3px -8px;
	position: relative;
}
#par1m:hover {
	
	text-shadow:
	3px 3px 3px lightblue,
      0 0 7px lightblue,
      0 0 10px lightblue,
      0 0 21px lightblue,
      0 0 42px lightblue;
	
}

#parrm {
	color: inherit;
	text-decoration: inherit;
}

#footerm {
	width: 100%;
	bottom: 0;
	text-align: center;
	animation: deschidere 0.3s;
	position: absolute;
	background: rgba(128, 216, 255, 0.4);
}

#termsm {
	color: Black;
	font-weight: bold;
}

#termsm:hover {
	color: Blue;
	font-weight: bold;
}
#designm {
	color: Black;
	float: center;
}


#designm:hover {
	color: Blue;
}

#wrapm {
	padding-bottom: 6rem;
}
#pagewrapm {
  min-height: 100vh;
}


#table1m {
	text-align: center;
	animation: deschidere 0.3s;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px double grey;
	background: lightblue;
	padding: 15px;
	box-shadow: -5px 0px 5px 5px rgba(0,0,0,0.3);
	
}
#table2m {
	text-align: center;
	animation: deschidere 0.3s;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px double grey;
	background: lightblue;
	padding: 15px;
	box-shadow: -5px 0px 5px 5px rgba(0,0,0,0.3);
}
#table3m {
	text-align: center;
	animation: deschidere 0.3s;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px double grey;
	background: lightblue;
	padding: 15px;
	box-shadow: -5px 0px 5px 5px rgba(0,0,0,0.3);
}

#p1m {
	border: 1px solid;
	color: Black;
	font-size: 15px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}
#p11m {
	display: none;
	border: 1px solid;
	color: Black;
	font-size: 15px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}

#p2m {
	border: 1px solid;
	color: Black;
	font-size: 15px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}

#p22m {
	display: none;
	border: 1px solid;
	color: Black;
	font-size: 15px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}

#p3m {
	border: 1px solid;
	color: Black;
	font-size: 15px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}
#p33m {
	display: none;
	border: 1px solid;
	color: Black;
	font-size: 15px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}
#hide1m {
	display: none;
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 125px;
	height: 30px;
}

#hide1m:hover {
	background: lightgrey;
}

#hide1m:active {
	width: 115px;
}

#hide2m {
	display: none;
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 125px;
	height: 30px;
}

#hide2m:hover {
	background: lightgrey;
}

#hide2m:active {
	width: 115px;
}

#hide3m {
	display: none;
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 125px;
	height: 30px;
}

#hide3m:hover {
	background: lightgrey;
}

#hide3m:active {
	width: 115px;
}

#show1m {
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 125px;
	height: 30px;
}

#show1m:hover {
	background: lightgrey;
}

#show1m:active {
	width: 115px;
}

#show2m {
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 125px;
	height: 30px;
}

#show2m:hover {
	background: lightgrey;
}

#show2m:active {
	width: 115px;
}


#show3m {
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 125px;
	height: 30px;
}

#show3m:hover {
	background: lightgrey;
}

#show3m:active {
	width: 115px;
}
   /*-----------------------------------------------------------------------------------\
   |----------------------------Larger than 600px---------------------------------------|
   \-----------------------------------------------------------------------------------*/
.dropbtn1 {
  background: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 0px 0px 5px 5px;
}
.dropbtn2 {
  background: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 0px 0px 5px 5px;
}
.dropbtn3 {
  background: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 0px 0px 5px 5px;
}
.dropbtn4 {
  background: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 0px 0px 5px 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background: transparent;
  color: white;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: transparent;
}

.dropdown-content a:hover {background-color: lightblue;}

.dropdown:hover .dropdown-content {
	display: block; 
	background-color: rgba(0,0,0,0.4);
	}

.dropdown:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,62,97,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 5px 5px 5px 5px;
}
.dropbtn1:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,62,97,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 5px 5px 5px 5px;
}
.dropbtn2:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,62,97,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 5px 5px 5px 5px;
}
.dropbtn3:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,62,97,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 5px 5px 5px 5px;
}
.dropbtn4:hover {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,62,97,1) 0%, rgba(0,212,255,1) 100%);
border-radius: 5px 5px 5px 5px;

}

#par1 {
	width: 15%;
	text-align: right;
	color: #c4d4e0;
	font-size: 30px;
	height: 2em;
	text-shadow: 3px 3px 3px lightblue;
	margin: -8px 0px -3px -8px;
	float: right;
}

#par1:hover {
	text-shadow:
	3px 3px 3px lightblue,
      0 0 7px lightblue,
      0 0 10px lightblue,
      0 0 21px lightblue,
      0 0 42px lightblue;
}

#parr {
	color: inherit;
	text-decoration: inherit;
}
body {
	background-image: url("../poze/pagina1backg2.gif");
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}


#footer {
	width: 100%;
	bottom: 0;
	text-align: center;
	animation: deschidere 0.3s;
	position: absolute;
	background: rgba(128, 216, 255, 0.4);

}

#terms {
	color: Black;
	font-weight: bold;
}

#terms:hover {
	color: Blue;
	font-weight: bold;
}
#design {
	color: Black;
	float: right;
	margin-right: 20px;
	background: rgba(128, 216, 255, 0.4);
}

#design:hover {
	color: Blue;
}
@keyframes deschidere
{
  from 
  {
    transform:translate(300px);
  }
  to 
  {
    transform:translate(0px);
  }
}

#wrap {
	padding-bottom: 6rem;
}
#pagewrap {
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
	#pagewrap {display: none;}
}
@media only screen and (min-width: 601px){
	#pagewrapm {display: none;}
}



#table1 {
	text-align: center;
	animation: deschidere 0.3s;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px double grey;
	background: lightblue;
	padding: 15px;
	box-shadow: -5px 0px 5px 5px rgba(0,0,0,0.3);
	
}
#table2 {
	text-align: center;
	animation: deschidere 0.3s;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px double grey;
	background: lightblue;
	padding: 15px;
	box-shadow: -5px 0px 5px 5px rgba(0,0,0,0.3);
}
#table3 {
	text-align: center;
	animation: deschidere 0.3s;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px double grey;
	background: lightblue;
	padding: 15px;
	box-shadow: -5px 0px 5px 5px rgba(0,0,0,0.3);
}
#p1 {
	border: 1px solid;
	color: Black;
	font-size: 20px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}
#p11 {
	display: none;
	border: 1px solid;
	color: Black;
	font-size: 20px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}

#p2 {
	border: 1px solid;
	color: Black;
	font-size: 20px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}
#p22 {
	display: none;
	border: 1px solid;
	color: Black;
	font-size: 20px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}

#p3 {
	border: 1px solid;
	color: Black;
	font-size: 20px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}
#p33 {
	display: none;
	border: 1px solid;
	color: Black;
	font-size: 20px;
	font-weight: italic;
	font-family: 'Times New Roman', serif;
	text-align: center;
	padding: 10px;
}
#hide1 {
	display: none;
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 200px;
	height: 40px;
}

#hide1:hover {
	background: lightgrey;
}

#hide1:active {
	width: 190px;
}

#hide2 {
	display: none;
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 200px;
	height: 40px;
}

#hide2:hover {
	background: lightgrey;
}

#hide2:active {
	width: 190px;
}

#hide3 {
	display: none;
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 200px;
	height: 40px;
}

#hide3:hover {
	background: lightgrey;
}

#hide3:active {
	width: 190px;
}

#show1 {
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 200px;
	height: 40px;
}

#show1:hover {
	background: lightgrey;
}

#show1:active {
	width: 190px;
}

#show2 {
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 200px;
	height: 40px;
}

#show2:hover {
	background: lightgrey;
}

#show2:active {
	width: 190px;
}


#show3 {
	margin-left: auto;
	margin-right: auto;
	border: solid black;
	border-radius: 5px;
	width: 200px;
	height: 40px;
}

#show3:hover {
	background: lightgrey;
}

#show3:active {
	width: 190px;
}
